/* You can add global styles to this file, and also import other style files */
.ng-valid[required] {
  border: 1 solid rgb(114, 201, 114);
}

.ng-invalid:not(form) {
  border: 1 solid rgb(201, 114, 114);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
