.center {
    text-align: center;
}

.card {
    float: left;
    text-align: center;
    padding: 30px 10px 15px 10px;
    margin: 10px;
    width: 150px;
}

img {
    width: 100px;
    height: 100px;
}

.border {
    border: 2px solid gray;
    border-radius: 30px;
}

.border:hover {
    border-color: black;
}

.box {
    display: table;
}

body {
    background-color: gainsboro;
    font-family:Arial, Helvetica, sans-serif;
}