<div class="flex">
  <input type="checkbox" [(ngModel)]="isChecked" />

  <button (click)="increment()">increment</button>
  <button (click)="decrement()">decrement</button>

  <input type="number" [(ngModel)]="step" />

</div>

<h1 [style.fontSize]="isChecked ? '10vw' : '20vw'" [class.checked]="isChecked">
  {{count}}
</h1>

<div class="flex col">

  <input class="max" (keydown)="enter($event)">

  <p>{{key}}</p>
</div>

<div class="flex col">
  <h2 [hidden]="isHidden">TExt to hide</h2>
  <button (click)="changeHidden()">Hide/unhide</button>
</div>